 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I was born at <a class="about" href="https://goo.gl/maps/cHU7c9TPYu72" target="_blank">50'03" 20'98"</a> on 480110400 UNIX time.</p>
                    <p>Visit my <a class="about" href="http://about.bartbania.com/">about page</a> to get some more information.</p>
                </div>
            </div>
        </div>
    </section>
